---
layout: default
---

<!-- page.html -->
<div class="post">
  <h1>CV</h1>
  <article>{{ content }}</article>
  <p>
    You can download my CV
    <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}">here</a>.
  </p>
  <object
    data="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
    type="assets/pdf"
    width="1400"
    height="700"
  >
    <iframe
      src="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
      width="1000"
      height="700"
      style="border: none"
    >
      <p>
        Your browser does not support PDFs.
        <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
          >Download the PDF</a
        >
      </p>
    </iframe>
  </object>

  {%- if page.related_publications != null and page.related_publications.size >
  0 -%} {% assign publications = page.related_publications | replace: ", ", ","
  | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{
    publications }}]* %}
  </div>
  {%- endif %} {%- if site.giscus and page.giscus_comments -%} {% include
  giscus.html %} {%- endif -%}
</div>
